<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<div class="row mt-3">
  <div class="col-xs-12 list-group">
    <a *ngFor="let recipe of recipes"
       class="d-flex justify-content-between align-items-center list-group-item list-group-item-action clearfix"
       href="#">
      <div class="flex-grow-1">
        <h4>{{ recipe.name }}</h4>
        <p>{{ recipe.description }}</p>
      </div>
      <span>
        <img [src]="recipe.imagePath" alt="{{recipe.name}}" class="img-fluid" style="max-height: 70px;"/>
      </span>
    </a>
    <app-recipes-item></app-recipes-item>
  </div>
</div>


