<div class="row">
  <div class="col-xs-12">
    <img alt="{{recipe.name}}" class="img-fluid" src="{{recipe.imagePath}}">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button class="btn btn-primary dropdown-toggle" type="button">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">To Shopping List</a></li>
        <li><a href="#">Edit Recipe</a></li>
        <li><a href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 fs-4 text-danger ">{{ recipe.description }}</div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="fs-5 fw-bold text-info">Ingredients :</div>
    @for (ingredient of recipe.ingredients; track recipe.name) {
      <p class="fw-bold">{{ ingredient }}</p>
    }

  </div>
</div>
